<h2>Add New Comics!</h2>

<% if @add_comics.empty? %>
  <h3> No comics in database, scrape for more lulz! </h3>
<% else %>
<% p @add_comics #Don't know why but this fixes problem'%>
  <h3> <%= @add_count %> comics to curate. </h3>
  <br />
  <%= form_tag({:controller => "rage", :action => "add_submit"}, :method => "post") do%>

    <% @add_comics.each do | c | %>

      <h3><%= c.title %></h3>

      <% if image?(c.link) %>
        <img src='<%= c.link %>' />
        <br />
      <% else %>
        <h4><a href="<%= c.link %>"><%= c.link %></a></h4>
      <% end %>

      <%= check_box_tag(c.id, '1', false, :class => 'checkbox') %>
      <%= label_tag("Add?") %>
      <br />
      <%= label_tag("Title: ") %>
      <%= text_field_tag("#{c.id}_title", c.title, :size => 59) %>
      <br />
      <%= label_tag("Link:  ") %>
      <%= text_field_tag("#{c.id}_link", c.link,:size => 59) %>

      <br />
      <br />
    <% end %>


    <%= submit_tag "Add Moar Lulz!" %>
  <% end %>
<% end %>
