<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Queue", queue_path %></li>
      <li><%= link_to "Add", add_path %></li>
      <li><%= link_to "Scrape", scrape_path %></li>
    </ul>
  </nav>
    <a href="http://twitter.com/ragecurator">
      <%= image_tag "bird_48_blue.png", :id => 'logo' %>
      <h1>RageCurator</h1>
    </a>
  <br />
</header>

